/* General Part */

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn, .little, .em1, .big {
    padding: 10px 25px;
    border-radius: 3px;
}

.em1, .big {
    border: none;
    outline: solid 1px black;
}

.little, .btn {
    border: none;
    background-color: hsl(224, 93%, 58%);
    color: #fff;
    font-weight: 540;
    cursor: pointer;
}

.little:hover, .btn:hover {
    opacity: 80%;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

::placeholder {
    color: hsl(0, 0%, 75%);
}

input:focus:invalid {
    outline: solid 1px red;
}

h1 {
    font-size: 40px;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 16px;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/* Header Part */

header {
    width: 100%;
    padding: 70px;
}


nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


ul a:hover {
    text-decoration: underline;
    border-bottom: solid 1px hsl(243, 87%, 12%);
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    float: left;
    list-style: none;
    margin-left: 50px;
}

ul a:visited, ul a:link {
    text-decoration: none;
    color: hsl(243, 87%, 12%);
}

/* Main Part 1*/

.top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    margin-bottom: 80px;
}

.img1 {
    width: 50%;
}

.article1 {
    width: 50%;
}

.form1 {
    width: 40%;
}
/* Main Part 2*/

.bottommain {
    background-color: hsl(240, 75%, 98%);
}

.bottom {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    justify-content: space-between;
    padding: 50px;
    width: 100%;
}

.curve1, .curve2 {
    width: 100%;
    background-color: white;
}

.article2 {
    width: 50%;
}

.bottom > img {
    width: 50%;
}

.fylomain {
    margin-bottom: 40px;
}

.fyloworks {
    display: inline-flex;
    align-items: center;
    border-bottom: 1px hsl(170, 45%, 43%) solid;
}

.fyloworks > p {
    color: hsl(170, 45%, 43%);
    margin: 0;
    margin-right: 5px;
}

.fyloworks:visited, .fyloworks:link {
    text-decoration: none;
    align-items: center;
}

.fyloworks:hover {
    opacity: 60%;
}

.quotbox {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

.quotbox h1 {
    margin: 0;
}

.quot {
    margin-bottom: 10px;
}

.quotarticle {
    margin: 0 0 15px 0;
    line-height: 1.5em;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 10%;
    height: 10%;
    border-radius: 100%;
    margin-right: 10px;
}

.name, .job {
    margin: 0;
    color: hsl(243, 87%, 12%);
}

.name {
    font-weight: bold;
}

.job {
    font-size: small;
}

/* Main Part 3 */

.getaccess {
    background-color: hsl(238, 22%, 44%);
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.accessarticle {
    width: 40%;
}

.accessarticle h1, .accessarticle p {
    color: #fff;
}

.form2 {
    flex-direction: column;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
}

.big {
    width: 100%;
}

.little {
    width: 60%;
}

/* Footer Part */

.footericon {
    filter: brightness(0) invert(1);
}

footer {
    background-color: hsl(243, 87%, 12%);
    padding: 70px;
    width: 100%;
}

footer > img {
    margin-bottom: 25px;
}

.mainfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer1, .footer2, .footer3 {
    display: flex;
    flex-direction: column;
}

.footer4 {
    display: flex;
}

.phone, .footemail {
    display: flex;
    align-items: center;
}

.phone p, .footemail p {
    color: #fff;
}

.phone img, .footemail img {
    margin-right: 20px;
}

.footer2 a, .footer3 a {
    margin-bottom: 10px;
}

.footer4 a {
    margin-right: 30px;
    border: solid 1px #fff;
    border-radius: 100%;
    padding: 5px;
    width: 30px;
    text-align: center;
}

.footer2 a:hover, .footer3 a:hover, .footer4 a:hover {
    color: hsl(224, 93%, 58%);
    border-color: hsl(224, 93%, 58%);
}

footer a:visited, footer a:link {
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width:650px) {
    /* General Part*/
    body {
        display: flex;
        flex-direction: column;
    }

    header, footer, .getaccess, .bottom, .top {
        padding: 23px;
    }

    footer, .getaccess, .bottom, .top, .mainfooter, .form1 {
        flex-direction: column;
        text-align: center;
    }

    .article1, .article2, .img1, .accessarticle, .email, .bottom .img1, .form1, .form2, .little, .quotbox {
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    .img1 {
        order: -1;
    }

    /* Header Part */

    nav a {
        width: 70px;
    }

    nav > a img {
        width: 100%;;
    }

    ul li {
        margin-left: 15px;
        font-size: 12px;
    }

    /* Footer Part */

    footer {
        display: flex;
    }

    .footericon {
        width: 50%;
    }

    .mainfooter {
        text-align: left;
        align-items: flex-start;
    }

    .footer1, .footer2 {
        margin-bottom: 40px;
    }

    .footer4 {
        margin-top: 30px;
        justify-content: space-evenly;
        width: 100%;
    }

    .footer4 a {
        margin-right: 15px;
    }

    /* Main Part 2 */

    .paragraph {
        text-align: start;
    }

    .quotbox {
        padding: 20px;
        text-align: start;
    }

    .fyloworks {
        justify-content: center;
    }

    /* Curve Shape Image Part */

    .curve1 {
        display: none;
    }

    .curve2 {
        display: block;
    }
}

@media only screen and (min-width:610px) and (max-width:1080px) {
    .little {
        width: 100%;
    }
}